        * {
            padding: 0px;
            margin: 0px;
            box-sizing: border-box;
        }

        .main_container {
            width: 100%;
            display: flex;

        }

        .container1 {
            position: fixed;
            left: 0px;
            width: 25%;
            height: 100vh;
            background-color: red;

        }

        .container2 {
            height: 500vh;
            width: 75%;

        }

        li:hover {
            width: 80%;
            color: black;
            background-color: white
        }

        li {
            font-family: sans-serif;
            font-weight: bold;
            color: white;
            line-height: 43px;
            font-size: 21px;
            list-style: none;
            position: relative;
            top: 170px;
            left: 35px;
        }

        h1 {
            font-family: sans-serif;
            color: white;
            font-size: 25px;
            position: relative;
            top: 100px;
            left: 35px;
        }

        .container2 h1 {
            font-size: 60px;
            margin-left: 400px;
        }

        /* p{
            font-weight: bold;
            font-size: 50px;
            color: red;
            margin-top: 300px;

        } */

        .A {
            display: flex;
            position: absolute;
            top: 430px;
            left: 470px;
            justify-content: space-between;

        }

        .box1 {
            border: 1px solid black;
            height: 300px;
            width: 300px;
        }

        .box2 {
            margin-left: 40px;
            border: 1px solid black;
            height: 300px;
            width: 300px;
        }

        .box1 .img1 {

            height: 300px;
            width: 300px;
        }

        .box2 .img2 {

            height: 300px;
            width: 300px;
        }

        .B {
            display: flex;
            position: absolute;
            top: 760px;
            left: 470px;
            justify-content: space-between;
        }

        .box3 {
            border: 1px solid black;
            height: 200px;
            width: 300px;
        }

        .box4 {
            margin-left: 40px;
            border: 1px solid black;
            height: 200px;
            width: 300px;
        }

        .box3 .img3 {

            height: 200px;
            width: 300px;
        }

        .box4 .img4 {
            height: 200px;
            width: 300px;
        }

        .C {
            display: flex;
            position: absolute;
            top: 990px;
            left: 470px;
            justify-content: space-between;
        }

        .box5 {
            border: 1px solid black;
            height: 200px;
            width: 300px;
        }

        .box6 {
            margin-left: 40px;
            border: 1px solid black;
            height: 200px;
            width: 300px;
        }

        .box5 .img5 {

            height: 200px;
            width: 300px;
        }

        .box6 .img6 {
            height: 200px;
            width: 300px;
        }

        .container2 h2 {
            color: red;
            font-size: 50px;
            position: absolute;
            top: 1250px;
            left: 430px;
        }

        .container2 p {
            position: absolute;
            top: 1350px;
            left: 400px;
            font-size: 20px;
        }

        .a {
            display: inline-block;
        }

        .a h3 {
            color: red;
            font-size: 50px;
            position: absolute;
            top: 1650px;
            left: 430px;
        }

        .a p {
            margin-top: 400px;
            left: 400px;
            font-size: 20px;
        }

        .a h4 {
            /* border: 1px solid black;
            height: 10vh; */
            width: 100%;
            margin-top: 1840px;
            margin-left: 400px;
            font-size: 25px;
        }


        .b {
            display: flex;
            position: absolute;
            top: 2100px;
            left: 400px;

        }

        .b .box1 {
            margin-left: 20px;
            border: 0px solid black;
            height: 320px;
            width: 250px;
        }

        .b .box2 {
            margin-left: 20px;
            border: 0px solid black;
            height: 320px;
            width: 250px;
        }

        .b .box3 {
            margin-left: 25px;
            border: 0px solid black;
            height: 320px;
            width: 250px;
        }

        .b .box1 .img1 {
            padding-top: 0px;
            height: 25vh;
            width: 250px;
        }

        .b .box2 .img2 {
            height: 25vh;
            width: 250px;
        }

        .b .box3 .img3 {
            height: 25vh;
            width: 250px;
        }

        .text1 {
            height: 30vh;
            background-color: grey;
        }

        h6 {
            color: red;
            font-size: 50px;
            position: absolute;
            top: 2500px;
            left: 430px;
        }

        .c p {
            margin-top: 2600px;
            margin-left: -200px;
            font-size: 22px;
        }

        .d {
            display: flex;
            position: absolute;
            top: 2700px;
            left: 435px;
        }

        .d .box1 {
            height: 100vh;
            width: 330px;
        }

        .d .box2 {
            margin-left: 20px;
            height: 100vh;
            width: 330px;
        }

        .box1 .Ram1 {
            padding-top: 22px;
            color: white;
            font-size: 35px;
            text-align: center;
            background-color: #616161;
            border: 1px solid black;
            height: 15vh;
            width: 100%;
        }

        .box1 .Ram2 {
            padding-top: 22px;
            text-align: center;
            background-color: #ddd;
            border: 1px solid black;
            height: 10vh;
            width: 100%;
        }

        .box1 .Ram3 {
            padding-top: 22px;
            text-align: center;
            background-color: #ddd;
            border: 1px solid black;
            height: 10vh;
            width: 100%;
        }

        .box1 .Ram4 {
            padding-top: 22px;
            text-align: center;
            background-color: #ddd;
            border: 1px solid black;
            height: 10vh;
            width: 100%;
        }

        .box1 .Ram5 {
            padding-top: 22px;
            text-align: center;
            background-color: #ddd;
            border: 1px solid black;
            height: 10vh;
            width: 100%;
        }

        .box1 .Ram6 {
            padding-top: 22px;
            text-align: center;
            background-color: #ddd;
            border: 1px solid black;
            height: 10vh;
            width: 100%;
        }

        .box1 .Ram7 {
            padding-top: 22px;
            text-align: center;
            background-color: #ddd;
            border: 1px solid black;
            height: 20vh;
            width: 100%;
        }

        .box1 .Ram8 {
            padding-top: 22px;
            text-align: center;
            text-align: center;
            background-color: #ddd;
            border: 1px solid black;
            height: 15vh;
            width: 100%;
        }

        .Ram8 button {
            font-size: 20px;
            color: black;
            background-color: white;
            padding: 12px 20px;
        }

        .r8 button {
            font-size: 20px;
            color: white;
            background-color: red;
            padding: 10px 20px;
        }

        .d .box2 {

            height: 100vh;
            width: 330px;
        }

        .d .box2 {
            margin-left: 20px;
            height: 100vh;
            width: 330px;
        }


        .box2 .r1 {
            padding-top: 22px;
            color: white;
            font-size: 35px;
            text-align: center;
            background-color: red;
            border: 1px solid black;
            height: 15vh;
            width: 100%;
        }

        .box2 .r2 {
            padding-top: 22px;
            text-align: center;
            background-color: #ddd;
            border: 1px solid black;
            height: 10vh;
            width: 100%;
        }

        .box2 .r3 {
            padding-top: 22px;
            text-align: center;
            background-color: #ddd;
            border: 1px solid black;
            height: 10vh;
            width: 100%;
        }

        .box2 .r4 {
            padding-top: 22px;
            text-align: center;
            background-color: #ddd;
            border: 1px solid black;
            height: 10vh;
            width: 100%;
        }

        .box2 .r5 {
            padding-top: 22px;
            text-align: center;
            background-color: #ddd;
            border: 1px solid black;
            height: 10vh;
            width: 100%;
        }

        .box2 .r6 {
            padding-top: 22px;
            text-align: center;
            background-color: #ddd;
            border: 1px solid black;
            height: 10vh;
            width: 100%;
        }

        .box2 .r7 {
            padding-top: 22px;
            text-align: center;
            background-color: #ddd;
            border: 1px solid black;
            height: 20vh;
            width: 100%;
        }

        .box2 .r8 {
            padding-top: 22px;
            text-align: center;
            background-color: #ddd;
            border: 1px solid black;
            height: 15vh;
            width: 100%;
        }

        .j {
            position: absolute;
            top: 3500px;
            left: 300px;
        }

        .inp1 {
            padding: 13px;
            margin-bottom: 40px;
            margin-left: 80px;
            width: 130%;
        }

        .inp2 {
            padding: 13px;
            margin-bottom: 40px;
            margin-left: 80px;
            width: 130%;
        }

        .inp3 {
            padding: 13px;
            margin-bottom: 40px;
            margin-left: 80px;
            width: 130%;
        }

        .j span {
            color: red;
            font-weight: bold;
            /* margin-top: 0px; */
            position: absolute;
            bottom: 520px;
            left: 130px;
            font-size: 50px;
        }

        .j p {

            width: 130%;
            position: absolute;
            bottom: 450px;
            left: 80px;
            font-size: 20px;
        }

        label {
            margin-left: 90px;
            font-size: 20px;
        }

        .j button {
            color: white;
            background-color: red;
            padding: 13px;
            margin-bottom: 40px;
            margin-left: 80px;
            width: 130%;
        }
        .one{
            background-color:#ccc
        }
        .one span{
            line-height: 48px;
            font-family: sans-serif;
            /* font-weight: bold; */
            font-size: 28px;
            margin-left: 15px;
         }
         .one h4{
            margin-top: 10px;
            margin-left: 10px;
         }
         .one h5{
            margin-bottom: -5px;
            font-size: 17px;
         }

         .two{
            background-color:#ccc
        }
        .two span{
            line-height: 48px;
            font-family: sans-serif;
            /* font-weight: bold; */
            font-size: 28px;
            margin-left: 15px;
         }
         .two h4{
            margin-top: 10px;
            margin-left: 10px;
         }
         .two h5{
            margin-bottom: -5px;
            font-size: 17px;
         }

         .three{
            height: 30vh;
            background-color:#ccc
        }
        .three span{
            line-height: 48px;
            font-family: sans-serif;
            /* font-weight: bold; */
            font-size: 28px;
            margin-left: 15px;
         }
         .three h4{
            margin-top: 10px;
            margin-left: 10px;
         }
         .three h5{
            margin-bottom: -5px;
            font-size: 17px;
         }
